<ion-content class="ion-padding">

  <!-- Loading -->
  @if (authService.loading | async) {
    <app-loading-overlay [visible]="true"></app-loading-overlay>
  } @else {
    <app-loading-overlay [visible]="false"></app-loading-overlay>
  }

  <!-- Heading -->
  <div class="auth-header">
    <app-logo></app-logo>
    <h2>Welcome back</h2>
    <p>Sign in to your account</p>
  </div>

  <!-- Form -->
  <form [formGroup]="form" (ngSubmit)="login()">

    <!-- Email -->
    <ion-item class="no-padding">
      <ion-input
        formControlName="email"
        type="email"
        label="Email"
        labelPlacement="floating"
        fill="outline"
        >
      </ion-input>
    </ion-item>

    @if (getFieldError(form.get('email'))) {
      <small class="error-msg">
        {{ getFieldError(form.get('email')) }}
      </small>
    }

    <!-- Password -->
    <ion-item class="no-padding">
      <ion-input
        formControlName="password"
        type="password"
        label="Password"
        labelPlacement="floating"
        fill="outline"
        autocomplete="off">
      </ion-input>
    </ion-item>

    @if (getFieldError(form.get('password'))) {
      <small class="error-msg">
        {{ getFieldError(form.get('password')) }}
      </small>
    }

    @if (errorMessage) {
      <small class="error-msg">
        {{ errorMessage }}
      </small>
    }

    <!-- Forgot password -->
    <div class="forgot-password">
      <a routerLink="">Forgot password?</a>
    </div>

    <!-- Button -->
    <ion-button
      expand="block"
      type="submit"
      [disabled]="form.invalid">

      Sign In
    </ion-button>

    <p>
      Don't have an account?
      <a routerLink="/auth/register">Sign Up</a>
    </p>
  </form>

</ion-content>