/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  padding: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.error-msg {
  color: var(--color-danger);
}

/* These are the colors on my theme and how to use them */
/* Primary colors from your preset */
/* var(--p-primary-50)
var(--p-primary-100)
var(--p-primary-200)
var(--p-primary-300)
var(--p-primary-400)
var(--p-primary-500)
var(--p-primary-600)
var(--p-primary-700)
var(--p-primary-800)
var(--p-primary-900)
var(--p-primary-950) */

/* Surface colors */
/* var(--p-surface-0)
var(--p-surface-50)
var(--p-surface-100)
var(--p-surface-200)
var(--p-surface-300)
var(--p-surface-400)
var(--p-surface-500)
var(--p-surface-600)
var(--p-surface-700)
var(--p-surface-800)
var(--p-surface-900)
var(--p-surface-950) */

/* Semantic */
/* var(--p-text-color)
var(--p-text-muted-color)
var(--p-content-background)
var(--p-content-border-color) */
